html, body, #root, #root>div {
  height: 100%;
  margin: 0;
  background-color: #eee;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.food-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  //color: #074d6790
}